body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.login-container {
    position: relative;
    width: 60%;
    height: 70%;
    display: flex;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background: white;
}

/* Sliding panel */
.login-left {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #00b894;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: transform 0.6s ease;
    z-index: 2;
}

/* Move panel to right when active */
.admin-active .login-left {
    transform: translateX(90%);
}

.login-left h1 {
    font-size: 2.2em;
    margin: 0;
}

.login-left p {
    font-size: 1.1em;
    margin-top: 10px;
}

/* Right side content */
.login-right {
    flex: 1;
    margin-left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 1;
}

.login-right h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.login {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login {
    background-color: #00b894;
    color: white;
}

.login:active {
    background-color: #019875;
}

.login-right input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#admin-login {
    width: 20px;
    height: 20px;
}

/* Hidden Admin Form */
.admin-form {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: #00b894;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.admin-active .admin-form {
    opacity: 1;
    pointer-events: all;
}

.admin-form input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#User-login {
    width: 20px;
    height: 20px;
}

.password-field{
    display: flex;
    align-items: inherit;
}

.password-field input{
    margin-right: 10px;
}

.toggle-password{
    cursor: pointer;
    user-select: none;
    
}
